# Managed with Ansible
LANG="{{ regional_locale_ui }}"
LANGUAGE="{{ regional_locale_ui }}"
LC_ADDRESS="{{ regional_locale_spec }}"
LC_COLLATE="{{ regional_locale_spec }}"
LC_CTYPE="{{ regional_locale_ui }}"
LC_IDENTIFICATION="{{ regional_locale_ui }}"
LC_MEASUREMENT="{{ regional_locale_ui }}"
LC_MESSAGES="{{ regional_locale_ui }}"
LC_MONETARY="{{ regional_locale_ui }}"
LC_NAME="{{ regional_locale_ui }}"
LC_NUMERIC="{{ regional_locale_ui }}"
LC_PAPER="{{ regional_locale_ui }}"
LC_RESPONSE="{{ regional_locale_ui }}"
LC_TELEPHONE="{{ regional_locale_ui }}"
LC_TIME="{{ regional_locale_ui }}"

